/* .blocflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  article {
    margin: 10px;
    padding: 5px;
    border: 3px solid black;
    flex: 1 0 300px;
  }
} */

.blocflex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // Cette déclaration sera meilleur quand min() sera mieux supporté
  // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  gap: 2rem;
  margin: 2rem;

  article {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
  }

  article:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; ;
    border: none;
  }
  h3 a{
    text-decoration: none;
  }
  h3 a:hover{
    
  }
}
