.blocflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blocflex__article {
  margin: 10px;
  padding: 5px;
  border: 3px solid black;
  flex: 1 0 300px;
}

/* .blocflex {
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  display: flex;
   Cette déclaration sera meilleur quand min() sera mieux supporté
   grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  gap: 2rem;
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;

} */
  article:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 3px; 
    transition: ease-in-out 0.3s;
    border: none;
  }
  h3 a{
    text-decoration: none;
  }
  h3 a:hover{
    color: #2196f3;
  }


.blocflex__article {
  box-shadow: rgba(0, 0, 0, 0.489) 0px 3px 8px;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
}

.blocflex .blocflex__galerie{
  flex: 1 0 100%
}