.menusearch{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
    

    @media screen and (min-width: 1000px){
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
    }
}

.site__entete{
    margin-bottom: 20px;
    padding: 0;

}

.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.menu-entete-container{
    background-color: black;
    flex: 1;
    border-radius: 10px;

   
    

    .menu{ //ul
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-around;
        .menu-item{ //li
            flex:1 0 50px;
            a{
                text-decoration: none;
                color: white;  
                padding:3px 5px;
                font-size: 20px;
                white-space: nowrap;

            }
            a:hover{
                color: #2196f3;
            }
        }
    }
}

.recherche{
    display: flex;
    flex-wrap: nowrap;
}