.erreur {
    color: red;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container_erreur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.container_erreur{

    .menu-cours-erreur{
        nav{
            ul{
                display: flex;
                flex-direction: row;
            }
        }  
    }
}


.container_erreur{

    .menu-note-erreur{
        nav{
            ul{
                display: flex;
                flex-direction: row;
            }
        }  
    }
}