.erreur {
    color: red;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container_erreur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.container_erreur{

    .menu-cours-erreur{
        nav{
            ul{
                display: flex;
                flex-direction: row;
                li{
                    a{
                        p{
                            margin: 0;
                        }
                    }
                }

            }
        }  
    }
}


.container_erreur{

    .menu-note-erreur{
        nav{
            ul{
                display: flex;
                flex-direction: row;
                gap: 0;
                margin: 0;
                padding: 0;
                width: 865px;
                li{
                    a{
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }  
    }
}


.transparent{
    background-color: rgb(255 255 255 / 63%);
}