.site__footer{
    display:flex;
    flex-direction: column;
  }
  
  .footer__widget{
      display:flex;
      flex-direction: row;
      div{
          flex : 1 0 33%;
      }
  }
  
  .footer__lien{
      display:flex;
      flex-direction: row;
      div{
          flex : 1 0 33%;
      }
  }

  #menu-lien{
    display: flex;
    justify-content: center;
    gap: 155px;
        li{
            list-style: none;
            a{
                text-decoration: none;
            }
           
        }
  }

  .footer__infoPerso{
    display: flex;
    justify-content: center;
  }