.menu__bloc{ // nav
    
    .menu{ //ul
        display : flex;
        flex-wrap: wrap;
        list-style-type: none;;
        @media screen and (max-width : 1000px) {
            flex-direction: column;
        }
        .menu-item { //li
            flex : 1 0 33%;
            list-style-type: none;;
            a{
                font-size: 2rem;
                text-decoration: none;
            }

        }


    }



}


.menu-evenement-container{
    ul{
        display: flex;
        text-align: center;
       flex-direction: column;
       
        
        li{
            list-style: none;
        }/* 
         

    }
    @media screen and (min-width : 1000px) {
        flex-direction: row;
    }
    li{
        list-style: none;
        p{
            max-width: 25ch;
            margin: 5px auto;
            text-align: center;
        }*/
    } 
}