 
h1, h1>a {
    font-size: clamp(1.5rem, 5vw, 3.5rem);
  }
  
  
  h2 {
    font-size: clamp(1.2rem, 4vw, 3rem);
  }
  
 
  h3 {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
  }
  
 
  h4 {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  
  
  h5 {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
  }
  
  
  h6 {
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  }

  
  p {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
  }
    
    h1 {
    font-family: Roboto, sans-serif;
    }
    
    h2 {
    font-family: Roboto "Times New Roman", serif;
    /*font-family: "Slackey", cursive; */
    }
    
    h3,
    h4,
    h5,
    h6 {
    font-family: Roboto, Arial, sans-serif;
    }
    
    p {
    font-family: Roboto, "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    }
    